<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go-Checkup</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <table class="table table-striped" style="color: #43a8ff; background: #fff; box-shadow: 0 35px 68px 0 rgba(136, 174, 222, 0.42), inset 0 -8px 16px 0 #b9d1f1">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Diagnosa Penyakit</th>
            <th scope="col">Description</th>
            <th scope="col">Level</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Diagnosa</td>
            <td>Description</td>
            <td>Level</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
