<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go-Checkup</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <table class="table table-striped" style="color: #43a8ff; background: #fff; box-shadow: 0 35px 68px 0 rgba(136, 174, 222, 0.42), inset 0 -8px 16px 0 #b9d1f1">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Level</th>
            <th scope="col">Nama Dokter</th>
            <th scope="col">No HP</th>
            <th scope="col">Alamat</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <% records.Diseases.forEach(el =>{%>
            <td><%= el.name%></td>
            <td><%= el.description%></td>
            <td><%= el.level%></td>
            <td>Agus </td>
            <td>0341234567890 </td>
            <td>Jalan yang benar no. 1 </td>
          <%})%>
        </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
